$pagination-focus-box-shadow: 0 0 5px 0 rgba(154, 0, 0, 0.25);
$input-focus-box-shadow: 0 0 5px 2px rgba(154, 0, 0, 0.25);
$input-focus-border-color: rgba(154, 0, 0, 0.25);
$pagination-focus-bg: #fff;
